name: First Interaction

on:
  workflow_call:
    secrets:
      envGH:
        required: true

jobs:
  add-comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/first-interaction@v3
        with:
          repo_token: ${{ secrets.envGH }}
          issue_message: 'Thanks for your contribution :fire: We will take a look asap :rocket:'
          pr_message: >-
            We are always happy to welcome new contributors :heart: To make things easier for everyone, please
            make sure to follow our [contributors manual](https://eclipse-edc.github.io/documentation/for-contributors/),
            check if you have already signed the [ECA](http://www.eclipse.org/legal/ecafaq.php), and
            relate this pull request to an existing issue or discussion.
