name: Nightly

on:
  workflow_call:
    inputs:
      test-tag-exclusions:
        description: specific test tags separated by comma (,) that are not supposed to run in the standard test suite can be excluded
        type: string
        required: false

jobs:

  Publish-Artefacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: eclipse-edc/.github/.github/actions/setup-build@main
      - id: get-version
        run: |
            echo "VERSION=$(IFS=.- read -r RELEASE_VERSION_MAJOR RELEASE_VERSION_MINOR RELEASE_VERSION_PATCH SNAPSHOT<<<$(grep "version" gradle.properties | awk -F= '{print $2}') && echo $RELEASE_VERSION_MAJOR.$RELEASE_VERSION_MINOR.$RELEASE_VERSION_PATCH-$(date +"%Y%m%d")-SNAPSHOT)" >> "$GITHUB_OUTPUT"
      - uses: eclipse-edc/.github/.github/actions/set-project-version@main
        with:
          version: ${{ steps.get-version.outputs.VERSION }}

      - run: ./gradlew compileJava build -DrunAllTests=true -DexcludeTags=${{ inputs.test-tag-exclusions }}

      - uses: eclipse-edc/.github/.github/actions/publish-maven-artifacts@main
        with:
          gpg-private-key: ${{ secrets.ORG_GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.ORG_GPG_PASSPHRASE }}
          username: ${{ secrets.CENTRAL_SONATYPE_TOKEN_USERNAME }}
          password: ${{ secrets.CENTRAL_SONATYPE_TOKEN_PASSWORD }}

      - uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_GITHUB_CI_WEBHOOK }}
          title: "Nightly ${{ github.repository }} build"
          description: "Build and publish ${{ steps.get-version.outputs.VERSION }}"
          username: GitHub Actions

  Test-Java-25:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
      - run: ./gradlew compileJava build -DrunAllTests=true -DexcludeTags=${{ inputs.test-tag-exclusions }}

  Dependency-Review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: gh-pages
      - run: cat DEPENDENCIES* | grep restricted | sort -u | awk -F ',' '{print $1}' | java -jar dash.jar - -review -project technology.edc -token ${{ secrets.GITLAB_API_TOKEN }} || true
