name: verify openapi versions

on:
  workflow_call:

jobs:
  prepare-api-groups:
    runs-on: ubuntu-latest
    outputs:
      api_groups: ${{ steps.outputStep.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - uses: eclipse-edc/.github/.github/actions/setup-build@main
      - run: ./gradlew resolve
      - uses: actions/upload-artifact@v5
        with:
          name: openapi-spec
          path: resources/openapi/yaml
      - name: get api groups to verify and create matrix for next job
        id: outputStep
        run: |
          if test -d resources/openapi/yaml; then
            API_GROUPS_ARRAY=$(ls -l resources/openapi/*.version | awk '{print $9}' | awk -F "[/\.]" '{print $3}' | sed ':a; N; $!ba; s/\n/","/g' | sed 's/.*/"&"/')
            echo "matrix={\"apiGroup\": [${API_GROUPS_ARRAY}]}" >> $GITHUB_OUTPUT
          fi

  verify-spec:
    if: ${{ needs.prepare-api-groups.outputs.api_groups != '[]' }}
    needs: prepare-api-groups
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.prepare-api-groups.outputs.api_groups) }}
    env:
      versionFile: resources/openapi/${{ matrix.apiGroup }}.version
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: eclipse-edc/.github/.github/actions/setup-build@main
      - uses: actions/download-artifact@v7
        with:
          name: openapi-spec
          path: resources/openapi/yaml
      - run: |
          CHANGELOG=$(git diff-tree --name-only HEAD..origin/main -r)
          JSON_VERSION_FILE=$(cat ${{ env.versionFile }})
          if (echo $CHANGELOG | grep -q "$JSON_VERSION_FILE") ; then
            echo "Version file for context ${{ matrix.apiGroup }} has been modified, no need to check differences"
            exit 0
          fi

          VERSION=$(cat $JSON_VERSION_FILE | jq '.[] | select(.maturity=="stable" or .maturity==null) | .version' | cut -d '"' -f 2)
          ./gradlew mergeOpenApiSpec --inputDir=${PWD}/resources/openapi/yaml/${{ matrix.apiGroup }} --output=${{ matrix.apiGroup }}-new.yaml --infoTitle="${{ matrix.apiGroup }}" --infoDescription="REST API documentation for the ${{ matrix.apiGroup }}" --infoVersion=$VERSION
          
          git show origin/gh-pages:openapi/${{ matrix.apiGroup }}/${{ matrix.apiGroup }}.yaml > ${{ matrix.apiGroup }}.yaml
          
          diff ${{ matrix.apiGroup }}.yaml ${{ matrix.apiGroup }}-new.yaml > diff
          
          echo "diff with the current version"
          cat diff
          
          if [ -s diff ]; then
              echo "${{ matrix.apiGroup }} openapi spec diverges from the published one, please update the version.json file";
              exit 1;
          fi
